/* Specific stuff */
.video-container iframe {max-width:100%}

/* Random spacing fix (jobb) */
.object-description .r-margin p { margin-left: 0; margin-right: 0; }

/*  */
.hover-background a:hover{
	background-color:#f4f7fa;
}

/* Market hover */
.market-selector a{display:block;height:auto;}

.market-selector [class^="icon-"]{
	line-height:43px;font-size:43px
}

.external-link{
	position: absolute;
	bottom: 10px;
	right: 17px;
}
@media screen and (max-width:767px) {
	.external-link{
		bottom: -6px;
		right: 3px;
	}
}
.market-selector .icon-eksternlenke{
	font-size:20px;
}

.scroll-container {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.list-line:not(:last-child) {
    border-bottom: 1px solid #CDD3D8;
}

/* footer specific, default is collapsed for old phones, temporary fix? */
.horizontal-list.default1col li{
    display:block;
}
@media screen and (min-width: 768px) {
    .horizontal-list.default1col li{
        display:inline;
    }
    /* should we make a generic thing for vertical dividers. this one is for the footer */
    .verticalhr li:not(:last-child){
        border-right:1px solid #CDD3D8;
    }
}


@media screen and (min-width: 768px) {
    .fixedfilters .scrollbar::-webkit-scrollbar {
        width:5px;
        background: transparent;
    }
    .fixedfilters .scrollbar:hover::-webkit-scrollbar {

    }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb{
        background-color:#eee;
        border-radius:5px;
    }
    .fixedfilters .scrollbar:hover::-webkit-scrollbar-thumb{
        background-color:#ccc;
    }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb:hover{
        background-color:#bbb;
    }
    .fixedfilters .scrollbar::-webkit-scrollbar-thumb:active{
        background-color: #aaa;
    }
    .fixedfilters .scrollbar { max-height: 600px; margin-right: 5px; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
}

@media (max-width: 767px) {
    body,
    .scroll-container {
        padding-bottom: 30px; /* Avoid the issue of toolbars showing up when clicking too close to the bottom toolbar on iOS 7. */
    }
}

.skiplink {
    /* This has opacity 0 instead of display: none to avoid layout when it's focused */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: #fff;
    color: #000;
    padding: 5px 10px;
    z-index: -1;
}

.skiplink:focus {
    opacity: 1;
    z-index: 5;
}

/*
This solves a problem with screen readers (at least VoiceOver): elements with aria-hidden=true
do not react to touch, so if we have such an element (for example an icon font) inside a link,
touching the icon does nothing. This makes sure the touch is registered by the parent element.
*/
[aria-hidden="true"] {
    pointer-events: none;
}
