/* **************** BLOCK SKINS ***************** */
/* ====== Contour blocks ====== */
/* ----- internal (extends mod) ----- */
/* ----- used for modules containing our own content ----- */
.mod .inner{ border-radius: 2px; }
.mod .inner .hd{ border-radius: 2px 2px 0 0 ; }
.mod .inner .ft{ border-radius: 0 0 2px 2px ; }
/* ====== Background blocks ====== */

.mod .inner{ background-color:#ffffff }
.mod.commercial .inner{ background-color:#ffff99 }

.mod.transparent > .inner { background:transparent; }
.mod.transparent .hd,
.mod.transparent .ft { border-radius: 2px; }

/* Niceifyes list types of mods (Result list etc.)*/
.mod.listing hr{margin:0;}
.mod.listing hr:last-child{display:none;}
.mod.listing.shadow > .inner {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* overstyrer mod-bakgrunner for objektsider */
.mod .lastUnit .mod .inner{ background:transparent }
.mod .lastUnit .mod .inner .hd,.mod .lastUnit .mod .inner .ft{ background:transparent;color:#000; }

.mod.navblock .bd{
    display: inline-table;
    width: 100%;
}
.mod.navblock a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:50px;
}
.mod.navblock.toolbar a{height:60px}
.mod.navblock .inner:hover, .mod.navblock .inner:focus {
    background-color: #fafafb!important;
}

/* UserFriendly clickable blocks */
a.mod.clickable:focus .inner,
a.mod.clickable:hover .inner{
    background-color: #f4f7fa;
}


/**  Retardification av markedssider **/

/* ikke i bruk? 

.mod.navblock2 .bd{
    display: inline-table;
    width: 100%;
}

.mod.navblock2 p.lines1{
    height:25px;
}
.mod.navblock2 p.lines2{
    height:40px;
}
.mod.navblock2 p.lines3{
    height:60px;
}
.mod.navblock2 p.lines4{
    height:80px;
}
.mod.navblock2.toolbar a{height:60px}
*/
/* ====== Block headers and footers ====== */
