/* ====== Businesscards deprecated?  ====== */

.businesscard .partner {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
}
.businesscard .partner h3 {
    font-size: 12px;
    font-variant: small-caps;
    display: inline-block;
}