img{
	max-width:100%;
}

.roundedborder,.rounded-border{
	border-radius:50%;
}

.stream-img {
    width: 33%;
    min-height: 75px;
    min-width: 100px;
}

@media screen and (min-width: 990px) {
	.stream-img {
        width: 25%;
    }
}
