.modal-container {
    position: fixed;
    background-color: #fff;
    opacity: 0;
    margin: auto;
}

.modal-backdrop {
    position: fixed;
    z-index: 2;
    display: none;
}

.modal-active {
    display: block;
}

.app-toolbar-modal {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 50px;
    width: 100%;
    border: 0 solid #cdd3d8;
    border-bottom-width: 1px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media (max-width: 767px) {
    .modal-container {
        top: 0 !important; /* top is set for bigger screens, but always override on small screens. */
        right: 0;
        bottom: 0;
        left: 0;
        max-height: none !important; /* Same as for `top`. */
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .modal-active .modal-container {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 768px) {
    .modal-container {
        position: absolute;
        opacity: 1;
        top: 100px;
        left: 40px;
        width: 300px;
        height: 500px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    .modal-backdrop {
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
        -webkit-transform: translate3d(0, -100000px, 0);
        transform: translate3d(0, -100000px, 0);
    }

    .modal-active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .app-toolbar-modal {
        border-radius: 3px 3px 0 0;
    }

}
