@font-face {
    font-family: finnmain;
    src: local('HelveticaNeue-Light');
    font-weight: normal;
}

@font-face {
    font-family: finnmain;
    src: local('HelveticaNeue');
    font-weight: bold;
}

body {
    font: 14px/1.5 finnmain, Arial, Helvetica, sans-serif;
    color: #04253c;
}

html {font-size: 100%;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
code{color:#0B8C8F;}

/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1, .t1 { font-size: 35px; }
h2, .h2, .t2 { font-size: 25px; }
h3, .h3, .t3 { font-size: 20px; }
h4, .h4, .t4 { font-size: 16px; }
h1, h2, h3, h4 {
    font-weight: 300; /*firefox translates normal to 400 other browsers 300*/
    line-height: 1.25;
}
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.b1 { font-size: 14px; }
.d1, .smalltext { font-size: 12px; }
.d2, .microtext { font-size: 10px; }
.largetext { font-size: 16px; }

.debug-fonts h1::after,.debug-fonts .h1::after,.debug-fonts .t1::after{content:".t1(35px)";color:#7863c8;}
.debug-fonts h2::after,.debug-fonts .h2::after,.debug-fonts .t2::after{content:".t2(25px)";color:#7863c8;}
.debug-fonts h3::after,.debug-fonts .h3::after,.debug-fonts .t3::after{content:".t3(20px)";color:#7863c8;}
.debug-fonts h4::after,.debug-fonts .h4::after,.debug-fonts .t4::after,.debug-fonts .largetext::after{content:".t4(16px)";color:#7863c8;}
.debug-fonts .d1::after,.debug-fonts .smalltext::after{content:".d1(12px)";color:#7863c8;}
.debug-fonts .d2::after,.debug-fonts .microtext::after{content:".d2(10px)";color:#7863c8;}

@media (max-width: 767px) {
    body {
        font-size: 13px;
    }
    /* ====== Headings ====== */
    h1, .h1, .t1 { font-size: 25px; }
    h2, .h2, .t2 { font-size: 20px; }
    h3, .h3, .t3 { font-size: 16px; }
    h4, .h4, .t4 { font-size: 14px; }
    .b1 { font-size: 12px; }
    .d1, .smalltext { font-size: 10px; }
    .d2, .microtext { font-size: 9px; }
    .largetext { font-size: 14px; }

    .debug-fonts h1::after, .debug-fonts .h1::after,.debug-fonts .t1::after{content:".t1(25x)"}
    .debug-fonts h2::after,.debug-fonts .h2::after,.debug-fonts .t2::after{content:".t2(20px)"}
    .debug-fonts h3::after,.debug-fonts .h3::after,.debug-fonts .t3::after{content:".t3(16px)"}
    .debug-fonts h4::after,.debug-fonts .h4::after,.debug-fonts .t4::after,.debug-fonts .largetext::after{content:".t4(14px)"}
    .debug-fonts .d1::after,.debug-fonts .smalltext::after{content:".d1(10px)"}
    .debug-fonts .d2::after,.debug-fonts .microtext::after{content:".d2(9px)"}
}

.fixedfontsize.b1 { font-size: 14px; }
.fixedfontsize.d1 { font-size: 12px; }
.fixedfontsize.d2 { font-size: 10px; }
.fixedfontsize.t1 { font-size: 35px; }
.fixedfontsize.t2 { font-size: 25px; }
.fixedfontsize.t3 { font-size: 20px; }
.fixedfontsize.t4 { font-size: 16px; }

/* Fix for webscript subscript + superscript alignment bug */
sup,sub{line-height:1em;}

.em{font-style: italic;}
.strong{font-weight:bold;}
.normal{font-weight: normal;}
.justify { text-align: justify; }
.strikethrough { text-decoration: line-through; }
.capitalize:first-letter { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }


/* default links */
a, a:link { color:#07e; text-decoration:none; }
a:visited { color: #07e; text-decoration:none; }
a:hover, a:focus, a:active { text-decoration:underline; }

a.neutral { color: #666!important; }
a > .neutral:hover,
a:hover > .neutral { text-decoration: underline; }

/* navigational links, visited on */
a.userhistory:visited, .userhistory a:visited { color:#9ba8b1; }
a.userhistory:visited:hover, .userhistory a:visited:hover {   }

/* high contrast font color scheme */
a.contrast:link,.contrast a:link { color:#eee; }
a.contrast:visited,.contrast a:visited { color:#ddd; }
a.contrast:focus,.contrast a:hover { color:#fff; }
a.contrast:focus,.contrast a:focus,
a.contrast:active,.contrast a:active { background:transparent; }

/* navigational links, visited on */
a.contrast.userhistory:link,.contrast.userhistory a:link { color:#eee; }
a.contrast.userhistory:visited,.contrast.userhistory a:visited { color:#eee; }
a.contrast.userhistory:focus,.contrast.userhistory a:hover { color:#fff; }

/* dark links */
a.dark-links,a.dark-links:link,.dark-links a,.dark-links a:link{color:#04253c;}
a.dark-links:visited,.dark-links a:visited{color:#04253c;}
a.dark-links:hover,.dark-links a:hover,a.dark-links:focus,.dark-links a:focus,a.dark-links:active,.dark-links a:active{ text-decoration: underline; }

/* block the link styling */

a.linkblock:hover, .linkblock a:hover, a.linkblock:active, .linkblock a:active, a.linkblock:focus, .linkblock a:focus, button.blank.linkblock:hover, button.blank.linkblock:active, button.blank.linkblock:focus { text-decoration: none; }

/* toolbar links */
a.toolbar,a.toolbar:link,.toolbar a,.toolbar a:link{color:#4f6676; text-decoration:none;}
a.toolbar:visited,.toolbar a:visited{color:#4f6676; text-decoration:none;}
a.toolbar:hover,.toolbar a:hover,a.toolbar:focus,.toolbar a:focus{color:#4f6676; text-decoration:none;}
a.toolbar:active,.toolbar a:active{color:#4f6676; text-decoration:none;}

/* tagwords */
a.tagword {
    display: inline-block;
    padding: 2px 4px 0 0;
    text-transform: lowercase;
}
a.tagword:before{
    content:'#';
    color:#9BA8B1;
}   
a.tagword.editable:after, .editable a.tagword:after{
    content: '\2715';
    padding-left: 5px;
}   
a.tagword.editable, .editable a.tagword{
    background-color: #4f6676;
    border-radius: 2px;
    padding: 4px 8px;
    color:white;
}
a.tagword.editable:hover, .editable a.tagword:hover,
a.tagword.editable:focus, .editable a.tagword:focus{
    background-color: #7D94A4 ;
    text-decoration:none;
}

@media (max-width: 1024px) {
    /*Prevents underline on touch/click on mobile */
    a:link, a:visited, a:hover, a:focus, a:active {
        text-decoration: none !important;
    }
}
